body {
	font-family: arial;
}

header {
	padding: 6pt;
	color: white;
	background-color: #000066;
	clear: left;
	text-align: center;
	font-size: 24pt;
	font-weight: bold;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.menu {
	overflow: auto;
	background-color: #555;
}

nav {
	position: fixed;
	width: 20%;
	height: 100%;
	overflow: auto;
	background-color: #f1f1f1;
}

li {
	color: #000;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
}

ul.menu li {
	float: left;
	display: inline;
	text-align: center;
    padding: 14px 16px;
	color: white;
}

ul.menu li:hover:not(.active) {
	background-color: #f1f1f1;
	color: black;
}

nav li {
	display: block;
	padding: 8px 16px;
}

nav li:active {
	background-color: #0066cc;
	color: white;
}

nav li:hover:not(.active) {
	background-color: #0080ff;
	color: white;
}

input[type=text] {
	margin: 8px 0px;
}

input[type=text], textarea {
	font-size: 12pt;
}

input[type=button] {
	background-color: #0066cc;
	color: white;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 14px;
}

input[type=button]:hover {
	background-color: #004d99;
}

label {
	display: inline-block;
	margin-top: 8px;
	margin-right: 4px;
}

textarea {
	margin: 8px 0px;
	vertical-align: top;
	border: 0.1px solid #cccccc;
}

.error {
	padding-left: 8px;
	color: red;
}

article {
	margin-left: 20%;
	padding: 1px 16px;
}

#printable {display: none;}

@media print {
	/*Hiding regular stuff*/
	header {display: none;}
	nav {display: none;}
	.menu {display: none;}
	input[type=button] {display: none;}
	#main {display: none;}

	/*Showing the printable cards*/
	article {margin: 0;}
	#printable {
		display: block;
	}

	.title {
		text-align: center;
		font-size: 24pt;
		font-weight: bold;
		padding-top: 3pt;
	}

	.printText {
		display: block;
		-moz-column-count: 2;
		-moz-column-gap: 20px;
		-webkit-column-count: 2;
		-webkit-column-gap: 20px;
		column-count: 2;
		column-gap: 20px;
	}

	.card {
		display: inline-block;
		margin-top: 12pt;
		padding: 6pt;
		border: 2px solid black;
		border-radius: 12px;
		width: 95%;
	}

	.name {
		font-size: 16pt;
		font-weight: bold;
		text-align: center;
	}

	label {
		text-decoration: underline;
	}

	.property {
		padding-bottom: 3px;
	}

	html, body {
		border: 5px solid black;
		height: auto;
	}
}